.App {
  text-align: center;
  width: 100%;
  background-color: #646464;
  background-image: linear-gradient(to bottom right, #fff, #8b8888, #080707);
  /* height: 100vh; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: 'Source Code Pro';
  src: url('./assets/fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf');
}

p {
  font-family: 'Source Code Pro';
}
h1 {
  font-family: 'Source Code Pro';
}
h2 {
  font-family: 'Source Code Pro';
}

.intro {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



