.icons-skills {
    font-size: 2rem;
    color: white;
    transition: 0.6s;
}

.imgs-skills {
    width: 1.7rem;
    height: 1.7rem;
    color: black;
    fill: black;
    transition: 0.6s;
    mix-blend-mode: screen;
}

.imgs-skills2 {
    width: 6rem;
    height: 4rem;
    color: black;
    fill: black;
}

.skills-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 3.5rem;
}

.imgs-skills:hover {
    transition: 0.6s;
    transform: rotateZ(-25deg);
    width: 2.3rem;
    height: 2.3rem;
}

.icons-skills:hover {
    font-size: 2.5rem;
    transition: 0.6s;
    transform: rotateZ(-25deg);
}